* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}

header {
    width: 100%;
    background-color: inherit;
    position: sticky;
    top: 0;
    padding: 30px;
    text-align: center;
    border-bottom: 2px solid white;
}

main,
footer {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 50%;
}
main > section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about > h2 {
    font-size: 3rem;
}

.about > img {
    border: 2px solid white;
    box-shadow: 5px 5px white;
}

.about > p {
    text-align: justify;
}

.about > a {
    background-color: black;
    width: fit-content;
    font-weight: 600;
    text-decoration: underline;
    color: inherit;
    padding: 2px 5px;
}

.about > a:hover,
.about > a:visited {
    color: black;
    background-color: white;
}

section > h3 {
    font-size: 1.5rem;
    text-decoration: underline;
}

.skill__list {
    font-size: 1.25rem;
    list-style-type: "- ";
    padding-left: 40px;
}

.details > table {
    border-collapse: collapse;
}

.details > table th {
    font-size: 1.25rem;
    border-bottom: 2px solid white;
}

.details > table td {
    border: 2px solid white;
}

.details > table th,
.details > table td {
    padding: 10px;
}

footer {
    padding: 30px 0;
    border-top: 2px solid white;
}

footer > h2 {
    text-decoration: underline;
    font-size: 2rem;
}

footer > form {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form > label {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

form input {
    border: none;
    padding: 5px 8px;
    margin-left: auto;
    width: 70%;
    outline: none;
}

button[type="submit"] {
    cursor: pointer;
    padding: 5px 10px;
    font-weight: 600;
    font-size: 1.5rem;
    color: white;
    background-color: black;
    border: 1px solid white;
    box-shadow: 3px 3px white;
    transition: all 200ms ease-in-out;
}

button[type="submit"]:hover {
    background-color: white;
    color: black;
    box-shadow: none;
}
